a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

ul {
  list-style-type: none;
}

button,
button:active,
button:focus,
input {
  border: 0;
  outline: none;
  cursor: pointer;
}

label {
  font-size: 1rem;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.info {
  font-size: 1.2rem;
  font-family: "Times", "Times New Roman", serif;
}

.container-border {
  border: 0.0625rem solid #ccc;
  border-radius: 0.2rem;
}

.title {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}
.title--center {
  text-align: center;
}

.logo {
  font-size: 1.87rem;
  padding: 0;
}
@media (min-width: 280px) and (max-width: 415px) {
  .logo {
    font-size: 1.5rem;
  }
}

.casing__body {
  margin: auto;
  max-width: 73rem;
}
.casing__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
.casing__footer {
  display: flex;
  justify-content: space-around;
  margin: 0.3rem 0;
}

.button {
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: #f2d400;
  cursor: pointer;
}
.button--success {
  background-color: #54eb4c;
}
.button--warning {
  background-color: #f54040;
}

.loader {
  width: 5rem;
  height: 5rem;
}
.loader:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 0.4rem solid #fed;
  border-color: #a1a1a1 transparent #a1a1a1 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-page {
  height: 10rem;
}

.header {
  height: 7rem;
  background-color: #f8f8f8;
}
.header__logo {
  margin-left: 1rem;
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header__logo {
    margin: 1.5rem 0rem 1.5rem 1rem;
    max-width: 70%;
  }
}
.header__logo-description {
  color: #a5a5a5;
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__logo-description {
    font-size: 0.6rem;
  }
}
.header__title {
  margin: 0;
  padding: 0;
}
.header__buttons-wrapper {
  display: flex;
  margin-right: 2.3rem;
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header__buttons-wrapper {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header__buttons-wrapper--open {
    display: block;
  }
}
.header__button {
  color: #444;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 0 1.1rem;
  text-transform: uppercase;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.header__button:focus {
  background-color: #f2d400;
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header__button {
    display: block;
    height: 100%;
    margin: 0;
    padding: 1rem 2rem;
    border-top: 0.0625rem solid #a5a5a5;
    border-radius: 0;
  }
}
.header__post-button {
  width: 100%;
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header__post-button {
    width: 100%;
    text-align: left;
  }
}
.header__menu-button--hidden {
  display: none;
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header__menu-button {
    display: block;
    margin-right: 1.875rem;
  }
}
@media (min-width: 280px) and (max-width: 1024px) {
  .header {
    height: auto;
  }
}

.menu-icon-bar {
  background-color: #444;
  border-radius: 0.1rem;
  width: 2rem;
  height: 0.2rem;
}
.menu-icon-bar + .menu-icon-bar {
  margin-top: 0.33rem;
}

.main {
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  display: flex;
}
@media (max-width: 768px) {
  .main {
    flex-wrap: wrap;
  }
}
.main__body {
  margin-top: 1.5rem;
}
.main__title {
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float: right;
  width: 58%;
}
.main__title::after {
  content: "";
  display: block;
  margin: 1rem 0;
  height: 0.1rem;
  background-color: #dfdfdf;
  width: 100%;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .main__title {
    width: 100%;
  }
}
.main__lot-info {
  width: 58%;
  float: right;
}
@media (max-width: 768px) {
  .main__lot-info {
    width: 100%;
    text-align: center;
  }
}
.main__image {
  max-width: 40%;
  float: left;
}
@media (max-width: 768px) {
  .main__image {
    max-width: 100%;
    float: unset;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}
.main__lot-info-wrapper {
  width: 100%;
}
.main__timer {
  display: flex;
  justify-content: center;
}
.main__timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__lot-preview {
  margin-bottom: 1rem;
  display: flex;
}
@media (max-width: 768px) {
  .main__lot-preview {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main__lot-preview-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main__admin-lot-preview-wrapper {
  justify-content: center;
  flex-wrap: wrap;
}
.main__admin-lot-preview {
  justify-content: space-between;
}
.main__loading-page {
  justify-content: center;
  align-items: center;
}
.main__lot-message {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-left: 1rem;
}
.main__lot-message--sold {
  background-color: #f54040;
}
.main__lot-message--not-active {
  background-color: orange;
}
.main__winners {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__custom-message-page {
  justify-content: center;
  text-align: center;
  color: #444;
  font-size: 1.3rem;
}
.main__form-item {
  width: 50%;
  margin: 0 auto 1rem auto;
}
.main__profile {
  display: flex;
}
.main__profile-title {
  margin-top: 0;
}
@media (max-width: 768px) {
  .main__profile {
    flex-wrap: wrap;
  }
}
.main__pagination {
  width: 100%;
  margin-top: 1rem;
  display: flex;
}
.main__switcher-wrapper {
  width: 100%;
  height: 3rem;
  margin: -1rem 0 1rem 0;
}

.lot-info__item {
  padding: 0.5rem 0;
  border-bottom: 0.05rem dashed #dfdfdf;
  word-break: break-all;
}
.lot-info__name {
  font-weight: bold;
}
.lot-info__time {
  font-size: 2rem;
}
.lot-info__buttons {
  display: flex;
  justify-content: space-around;
}
.lot-info__button {
  width: 30%;
  padding: 1rem 0;
}
.lot-info__error {
  margin: 0;
  text-align: center;
  color: red;
}

.timer {
  text-align: center;
}
.timer__time {
  font-size: 2rem;
}
.timer__item {
  background-color: #444;
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  width: 5rem;
  margin: 1rem 0.5rem;
  color: white;
}
.timer__item--translucent {
  background-color: rgba(68, 68, 68, 0.1);
}
.timer__not-active {
  position: absolute;
  background-color: #f2d400;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.lot-preview {
  width: 43%;
  padding: 1.5rem;
}
@media (max-width: 768px) {
  .lot-preview {
    width: 90%;
  }
}
.lot-preview__image {
  width: 100%;
}
.lot-preview__image-wrapper {
  max-width: 50%;
}
@media (max-width: 768px) {
  .lot-preview__image-wrapper {
    max-width: 75%;
  }
}
.lot-preview__info {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .lot-preview__info {
    width: 100%;
    justify-content: center;
  }
}
.lot-preview__info-text-wrapper {
  width: 100%;
}
@media (max-width: 768px) {
  .lot-preview__info-text-wrapper {
    width: 100%;
    text-align: center;
  }
}
.lot-preview__info-button-wrapper {
  width: 100%;
}
@media (max-width: 768px) {
  .lot-preview__info-button-wrapper {
    width: 100%;
    margin-top: 1rem;
  }
}
.lot-preview__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}
@media (max-width: 768px) {
  .lot-preview__title-wrapper {
    justify-content: center;
  }
}
.lot-preview__name {
  text-align: center;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  .lot-preview__name {
    font-size: 1.8rem;
  }
}
.lot-preview__description {
  margin-top: 0.5rem;
  word-break: break-all;
}
.lot-preview__button {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .lot-preview__button {
    font-size: 1.6rem;
  }
}
.lot-preview__button-wrapper {
  width: 100%;
}
.lot-preview__sold-lot-message {
  background-color: #f54040;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-weight: bold;
}
.lot-preview__id {
  margin-top: auto;
  margin-bottom: auto;
}

.add-lot {
  display: block;
}
.add-lot__form {
  margin: 0 2rem;
  width: 70%;
  margin: auto;
}
@media (max-width: 768px) {
  .add-lot__form {
    width: 90%;
  }
}
.add-lot__item {
  width: 100%;
  margin-bottom: 1rem;
}

.form-item__label {
  font-size: 1rem;
  margin-right: 1rem;
  color: #444;
  display: block;
}
.form-item__input {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  font-size: 0.9rem;
  color: #8d8d8d;
  padding: 0 0 0 0.65rem;
  border-radius: 0.2rem;
  height: 2rem;
}
.form-item__input--error {
  border-color: red;
}
.form-item__file-choose {
  display: none;
}
.form-item__buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-item__button {
  width: 30%;
  padding: 0.5rem 0;
  text-align: center;
}
@media (max-width: 768px) {
  .form-item__button {
    width: 80%;
  }
}
.form-item__error-wrapper {
  width: 100%;
  text-align: center;
}
.form-item__error {
  margin: 0;
  color: red;
}
.form-item__error--center {
  text-align: center;
}
.form-item__link {
  text-align: center;
}

.admin-lot-preview {
  width: 90%;
  padding: 1.5rem;
}
.admin-lot-preview__buttons-wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .admin-lot-preview__buttons-wrapper {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}
.admin-lot-preview__button {
  display: block;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
  margin: 0 1rem;
}
.admin-lot-preview__button--hidden {
  display: none;
}
@media (max-width: 768px) {
  .admin-lot-preview__button {
    width: 100%;
    margin-top: 0.5rem;
  }
}
.admin-lot-preview__set-next-lot-button {
  padding: 0.1rem 0;
  margin: 0.2rem 0 0 0;
  font-size: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .admin-lot-preview__link-wrapper {
    width: 88%;
  }
}
.admin-lot-preview__input-wrapper {
  display: none;
  width: 5rem;
}
.admin-lot-preview__input-wrapper--visible {
  display: block;
}
@media (max-width: 768px) {
  .admin-lot-preview__input-wrapper--visible {
    margin: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
.admin-lot-preview__set-next-lot-input {
  width: 85%;
  height: 1.4rem;
}
@media (max-width: 768px) {
  .admin-lot-preview__set-next-lot-input {
    width: 100%;
    box-sizing: border-box;
  }
}

.result-block {
  width: 100%;
  background-color: #54eb4c;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: #444;
  border-radius: 0.3rem;
}
.result-block--error {
  background-color: #f54040;
}

.table {
  border-collapse: collapse;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .table {
    font-size: 0.9rem;
  }
}
.table__header {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #444;
  color: white;
}
.table__header-item {
  font-weight: 300;
  padding: 0.7rem 0;
}
.table__body {
  color: #444;
}
.table__item {
  border: 0.063rem solid #ccc;
  padding: 0.5rem 0;
}

.footer {
  background-color: #f8f8f8;
  border-radius: 0.3rem;
}
.footer__card {
  width: 40%;
  text-align: center;
  margin: 0.5rem 0;
}
.footer__card-name {
  font-size: 1.25rem;
  margin: 0.625rem;
}
.footer__card-info {
  font-size: 0.875rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #a5a5a5;
}
@media (min-width: 280px) and (max-width: 768px) {
  .footer__sn-info {
    display: none;
  }
}
.footer__sn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 1rem 0;
  padding: 0;
}
@media (min-width: 280px) and (max-width: 768px) {
  .footer__sn-wrapper {
    padding: 0;
  }
}
.footer__sn {
  margin: 0 1rem;
}
@media (min-width: 280px) and (max-width: 768px) {
  .footer__sn {
    margin: 0 0.4rem;
  }
}
.footer__sn-link {
  display: flex;
  align-items: center;
}
.footer__sn-icon {
  width: 1.2rem;
  background-color: #f2d400;
  border-radius: 1.5rem;
  margin-right: 0.2rem;
}

.profile__menu {
  width: 30%;
  padding-right: 3rem;
  border-right: 0.07rem solid #ccc;
}
@media (max-width: 768px) {
  .profile__menu {
    width: 100%;
    padding: 0;
    border-style: none;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .profile__menu-item-wrapper {
    width: 30%;
  }
}
.profile__menu-item {
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  border-radius: 0.3rem;
}
.profile__menu-item--active {
  background-color: #f2d400;
}
.profile__content {
  width: 70%;
}
@media (max-width: 768px) {
  .profile__content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
.profile__form-item {
  width: 90%;
}

.winner-details {
  font-size: 1rem;
  margin: 1rem auto;
  font-family: "Roboto", sans-serif;
  width: 90%;
  background: #f3f3f3;
  border-radius: 0.3rem;
  position: relative;
}
.winner-details__title {
  user-select: none;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 1.1rem;
  color: #444;
  padding: 0 1rem;
  height: 2.5rem;
}
.winner-details__title::after {
  content: "^";
  position: absolute;
  height: 1rem;
  right: 1.2rem;
  opacity: 0.5;
  font-size: 1.5rem;
}
.winner-details__title:hover .winner-details__title::after {
  opacity: 1;
}
.winner-details__title::-webkit-details-marker {
  display: none;
}
.winner-details__content {
  border-top: 0.07rem solid #ccc;
  cursor: default;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.winner-details__content:focus {
  outline: none;
}
.winner-details__content-item {
  margin: 0.5rem 0;
}
.winner-details:hover {
  cursor: pointer;
}
.winner-details:hover .winner-details__title::after {
  opacity: 1;
}
.winner-details[open] .winner-details__title::after {
  transform: rotate(180deg);
}

.pagination {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.pagination__link {
  color: black;
  float: left;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: inherit;
}
.pagination__link--active {
  background-color: #f2d400;
  border-radius: 0.3rem;
}
.pagination__link:hover:not(.pagination__link--active) {
  background-color: #ddd;
  border-radius: 0.3rem;
}