a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

ul {
  list-style-type: none;
}

button,
button:active,
button:focus,
input {
  border: 0;
  outline: none;
}

label {
  font-size: 1rem;
}

.info {
  font-size: 1.2rem;
  font-family: "Times", "Times New Roman", serif;
}

.container-border {
  border: 0.0625rem solid #ccc;
  border-radius: 0.2rem;
}

.title {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  font-size: 1.87rem;
  padding: 0;
}

.casing__body {
  margin: auto;
  max-width: 73rem;
}
.casing__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.button {
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: #f2d400;
}
.button--success {
  background-color: #54eb4c;
}
.button--warning {
  background-color: #f54040;
}

.loader {
  width: 5rem;
  height: 5rem;
}
.loader:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 0.4rem solid #fed;
  border-color: #a1a1a1 transparent #a1a1a1 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-page {
  height: 10rem;
}

.header {
  height: 7rem;
  background-color: #f8f8f8;
}
.header__logo {
  margin-left: 1rem;
}
.header__logo-description {
  color: #a5a5a5;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.header__title {
  margin: 0;
  padding: 0;
}
.header__buttons-wrapper {
  display: flex;
  margin-right: 2.3rem;
}
.header__button {
  color: #444;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 0 1.37rem 0 1.1rem;
  margin: 0 0 0 0.25rem;
  text-transform: uppercase;
}
.header__button:focus {
  background-color: #f2d400;
}

.main {
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  display: flex;
}
.main__body {
  margin-top: 1.5rem;
}
.main__title {
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main__title::after {
  content: "";
  display: block;
  margin: 1rem 0;
  height: 0.1rem;
  background-color: #dfdfdf;
  width: 100%;
  bottom: 0;
  left: 0;
}
.main__image {
  max-width: 40%;
}
.main__lot-info-wrapper {
  width: 60%;
  margin-left: 3rem;
}
.main__timer {
  display: flex;
  justify-content: center;
}
.main__timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__lot-preview {
  margin-bottom: 1rem;
  display: flex;
}
.main__lot-preview-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main__admin-lot-preview-wrapper {
  justify-content: center;
  flex-wrap: wrap;
}
.main__admin-lot-preview {
  justify-content: space-between;
}
.main__loading-page {
  justify-content: center;
  align-items: center;
}
.main__sold-lot-message {
  background-color: #f54040;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-left: 1rem;
}
.main__winners {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lot-info__item {
  padding: 0.5rem 0;
  border-bottom: 0.05rem dashed #dfdfdf;
}
.lot-info__name {
  font-weight: bold;
}
.lot-info__time {
  font-size: 2rem;
}
.lot-info__buttons {
  display: flex;
  justify-content: space-around;
}
.lot-info__button {
  width: 30%;
  padding: 1rem 0;
}

.timer {
  text-align: center;
}
.timer__time {
  font-size: 2rem;
}
.timer__item {
  background-color: #444;
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  width: 5rem;
  margin: 1rem 0.5rem;
  color: white;
}
.timer__item--translucent {
  background-color: rgba(68, 68, 68, 0.1);
}
.timer__not-active {
  position: absolute;
  background-color: #f2d400;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.lot-preview {
  width: 43%;
  padding: 1.5rem;
}
.lot-preview__image {
  width: 100%;
}
.lot-preview__image-wrapper {
  max-width: 50%;
}
.lot-preview__info {
  width: 50%;
  margin-left: 1rem;
}
.lot-preview__name {
  text-align: center;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.lot-preview__description {
  margin-top: 0.5rem;
  overflow-wrap: break-word;
}
.lot-preview__button {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 3rem;
  text-align: center;
}
.lot-preview__button-wrapper {
  width: 100%;
}

.add-lot {
  display: block;
}
.add-lot__title {
  text-align: center;
}
.add-lot__form {
  margin: 0 2rem;
  width: 70%;
  margin: auto;
}
.add-lot__item {
  width: 100%;
  margin-bottom: 1rem;
}

.form-item__label {
  font-size: 1rem;
  margin-right: 1rem;
  color: #444;
  display: block;
}
.form-item__input {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  font-size: 0.9rem;
  color: #8d8d8d;
  padding: 0 0 0 0.65rem;
  border-radius: 0.2rem;
  height: 2rem;
}
.form-item__input--error {
  border-color: red;
}
.form-item__file-choose {
  display: none;
}
.form-item__buttons-wrapper {
  display: flex;
  justify-content: center;
}
.form-item__button {
  width: 30%;
  padding: 0.5rem 0;
  text-align: center;
}
.form-item__error {
  margin: 0;
  color: red;
}

.admin-lot-preview {
  width: 90%;
  padding: 1.5rem;
}
.admin-lot-preview__buttons-wrapper {
  display: flex;
}
.admin-lot-preview__button {
  display: block;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
  margin: 0 1rem;
}

.result-block {
  width: 100%;
  background-color: #54eb4c;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: #444;
  border-radius: 0.3rem;
}
.result-block--error {
  background-color: #f54040;
}

.table {
  border-collapse: collapse;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  width: 100%;
  border-radius: 0.5rem;
}
.table__header {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #444;
  color: white;
}
.table__header-item {
  font-weight: 300;
  padding: 0.7rem 0;
}
.table__body {
  color: #444;
}
.table__item {
  border: 0.063rem solid #ccc;
  padding: 0.5rem 0;
}