$button-color: #e24f43;
$title-color: #444;
$title-color-translucent: rgba(68, 68, 68, 0.1);
$description-color: #a5a5a5;
$border-color : #ccc;
$background-color: #f8f8f8;
$background-side-color: #e5e5e5;
$outline-color: #dfdfdf;
$text-input-color: #8d8d8d;
$yellow-background-color: #f2d400;
$success-color: #54eb4c;
$error-color: #f54040;