.admin-lot-preview{
    width: 90%;
    padding: 1.5rem;

    &__buttons-wrapper{
        display: flex;
        @media (max-width: $tablet-size) {
            flex-wrap: wrap;
            margin-top: 1rem;
        }
    }

    &__button{
        display: block;
        font-size: 1.1rem;
        padding: .5rem;
        text-align: center;
        margin: 0 1rem;

        &--hidden{
            display: none;
        }

        @media (max-width: $tablet-size) {
            width: 100%;
            margin-top: .5rem;
        }
    }

    &__set-next-lot-button{
        padding: .1rem 0;
        margin: .2rem 0 0 0;
        font-size: 1rem;
        width: 100%;
    }

    &__link-wrapper{
        @media (max-width: $tablet-size) {
            width: 80%;
        }
    }

    &__input-wrapper{
        display: none;
        width: 5rem;

        &--visible{
            display: block;
        }
    }

    &__set-next-lot-input{
        width: 85%;
        height: 1.4rem;
    }
}