@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Auction</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    @{
        var collapsed = true;
        var classes = "";
    }
    <div class="casing casing__body">
        <header>
            <div class="casing__header header container-border">
                <div class="header__logo">
                    <h1 class="header__title">
                        <a class="title logo" href="/">Online Auction</a>
                    </h1>
                    <div class="header__logo-description">
                        The biggest online auction platform in solar system!
                    </div>
                </div>
                <a class="header__menu-button header__menu-button--hidden" onClick="togleNavbar('header__buttons-wrapper', 'header__buttons-wrapper--open')">
                    <div class="menu-icon-bar"></div>
                    <div class="menu-icon-bar"></div>
                    <div class="menu-icon-bar"></div>
                </a>
                <ul class="header__buttons-wrapper">
                    <li>
                        <a class="header__button" href="/">Home</a>
                    </li>
                    @{
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    <li>
                        <a class="header__button" href="/winners">Winners</a>
                    </li>
                </ul>
            </div>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer class="casing__footer footer container-border">
            <div class="footer__card">
                <div class="footer__card-name title">copyrights</div>
                <div class="footer__card-info">@@2020. Online Auction. All rights reserved</div>
            </div>
            <div class="footer__card">
                <div class="footer__card-name title">connect me</div>
                <ul class="footer__sn-wrapper">
                    <li class="footer__sn">
                        <a class="footer__sn-link" href="mailto:Mickita.Sharshun@itechart-group.com">
                            <img class="footer__sn-icon" src="https://localhost:44390/api/images/icons/outlook-icon.png" alt="outlook" />
                            <span class="footer__card-info footer__sn-info">Outlook</span>
                        </a>
                    </li>
                    <li class="footer__sn">
                        <a class="footer__sn-link" href="https://github.com/sharshoon">
                            <img class="footer__sn-icon" src="https://localhost:44390/api/images/icons/github-icon.png" alt="github" />
                            <span class="footer__card-info footer__sn-info">GitHub</span>
                        </a>
                    </li>
                    <li class="footer__sn">
                        <a class="footer__sn-link" href="https://join.skype.com/invite/b4dT1glZDPZ4">
                            <img class="footer__sn-icon" src="https://localhost:44390/api/images/icons/skype-icon.png" alt="skype" />
                            <span class="footer__card-info footer__sn-info">Skype</span>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/togleNavbar.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
