@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="main container container-border add-lot">
    <h2 class="title title--center">@ViewData["Title"]</h2>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="form-item__error--center"></div>
        <div class="main__form-item form-item">
            <label class="form-item__label" asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="form-item__error--center"></span>
            <input asp-for="Input.Email" class="form-item__input container-border" />
        </div>
        <div class="main__form-item form-item">
            <label class="form-item__label" asp-for="Input.FirstName"></label>
            <span asp-validation-for="Input.FirstName" class="form-item__error--center"></span>
            <input asp-for="Input.FirstName" class="form-item__input container-border" />
        </div>
        <div class="main__form-item form-item">
            <label class="form-item__label" asp-for="Input.LastName"></label>
            <span asp-validation-for="Input.LastName" class="form-item__error--center"></span>
            <input asp-for="Input.LastName" class="form-item__input container-border" />
        </div>
        <div class="main__form-item form-item">
            <label asp-for="Input.PhoneNumber" class="form-item__label"></label>
            <span asp-validation-for="Input.PhoneNumber" class="form-item__error--center"></span>
            <input asp-for="Input.PhoneNumber" class="form-item__input container-border" />
        </div>
        <div class="main__form-item form-item">
            <label class="form-item__label" asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="form-item__error--center"></span>
            <input asp-for="Input.Password" class="form-item__input container-border" />
        </div>
        <div class="main__form-item form-item">
            <label class="form-item__label" asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="form-item__error--center"></span>
            <input asp-for="Input.ConfirmPassword" class="form-item__input container-border" />
        </div>
        <div class="main__form-item form-item form-item__buttons-wrapper">
            <button type="submit" class="button form-item__button">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
