@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="main container container-border add-lot">
    <h2 class="title title--center ">Manage your account</h2>
    <hr />
    <div class="main__profile profile">
        <partial name="_ManageNav" />
        <div class="profile__content">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}