.casing__body {
  margin: auto;
  max-width: 73rem;
}
.casing__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
.casing__footer {
  display: flex;
  justify-content: space-around;
  margin: 0.3rem 0;
}